.artists {
	text-align: center;
}

.artist-square {
	display: inline-block;
	margin: 10px;
	overflow: hidden;
	text-decoration: none;

	width: 250px;
	height: 310px;

	@media (pointer: fine) {
		width: 250px;
		height: 250px;
	}

	img {
		object-fit: cover;
		width: 250px;
		height: 250px;
	}

	.card-panel {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.artist-title {
		transition: top 0.2s ease-in-out;
		position: relative;
		top: 0;
		height: 50px;
		background: none;

		h3 {
			color: black;
			margin: auto;
		}

		@media (pointer: fine) {
			height: 100px;
			top: 0px;
			background: rgba(0, 0, 0, 0.5);

			h3 {
				color: white;
			}

			&.show {
				top: -100px;
			}
		}
	}
}

//ArtistDetail
.artist {
	.artist-banner {
		margin-bottom: 60px;

		img {
			width: 100%;
		}
	}

	.artist-content {
		display: flex;
		flex-flow: row;

		//Mobile
		@media screen and (max-device-width: $break-med) and (orientation: portrait) {
			padding: 0;
		}

		.bio {
			flex: 1 auto;
			order: 2;
			max-width: 300px;

			//Mobile
			@media screen and (max-device-width: $break-med) and (orientation: portrait) {
				max-width: 100%;
			}

			img {
				display: block;
				object-fit: cover;
				object-position: center;
				width: 300px;

				//Mobile
				@media screen and (max-device-width: $break-med) and (orientation: portrait) {
					width: 100%;
				}
			}

			h2 {
				margin-top: 40px;
			}

			.links {
				margin-top: 40px;
				list-style: none;
				text-align: center;
				li {
					display: inline;
					margin: 7px;
					a {
						text-decoration: none;
						color: $primary;
						&:hover {
							text-decoration: underline;
							color: $dark;
						}
					}
				}
			}
		}

		.gallery {
			width: 100%;
			overflow: hidden;
			flex: 3 auto;
			order: 1;

			//Desktop
			@media screen and (min-device-width: $break-med),
				screen and (orientation: landscape) {
				padding-right: 100px;
			}
		}

		//Mobile
		@media screen and (max-device-width: $break-med) and (orientation: portrait) {
			flex-flow: row wrap;
			.bio {
				flex: 1 100%;
				order: 1;
				padding: 20px;
			}
			.gallery {
				flex: 1 100%;
				order: 2;
				padding: 20px;
			}
		}
	}
}
