.artists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center
}

.mobile-artist-links {
	margin-left: 2em;
}

div.artist {
	margin: 10px;
	min-width: 300px;
	min-height: 300px;
	cursor: pointer;

	h5 {
		text-align: center;
	}
}