@import "vars.scss";
@import "normalize.scss";
@import 'main.scss';
@import 'nav.scss';
@import 'entry.scss';
@import 'news.scss';
@import 'artists.scss';
@import 'about.scss';

@font-face {
    font-family: 'Augusta';
    src: url('../resources/fonts/augusta-webfont.woff2') format('woff2'),
         url('../resources/fonts/augusta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}