.compact-event-list {
	
	h5 {
		margin-top: 0;
		a {
			color: black;
		}
	}

	table {
		border-collapse: separate;
		border-spacing: 0 0.5em;
	}
}

tr.event-compact {
	border: none;
	cursor: pointer;
	background-color: #eeeeee;

	&:hover {
		background-color: #e8e8e8;
	}

	td {
		padding: 10px 20px;
	}

	.event-name {
		text-align: left;
	}

	.event-date {
		text-align: right;
	}
}