body {
	background: url(../resources/images/bg.png);
	background-size:cover;
	background-attachment: fixed;

	font-family: 'Courier New', Courier, monospace;
}
h1, h2, h3, h4 {
	font-family: 'Augusta', Times, serif;
	color: $primary;
}

//Sticky Footer
body {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	margin-top: 20px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}
