.navigation {
    text-align: center;
    color: $primary;
    
    @media screen and (max-width: $break-small) {
        position: fixed;
        top: 0px;
        padding: 20px 0;
        width: 100%;
        z-index: 200;
        background: url(../resources/images/bg2.png) no-repeat center center fixed;
        background-size: cover;
    }

    #brand-logo,
    .link,
    .event,
    #social-media,
    #top {
        margin: 25px 0;
        @media screen and (max-height: $vert-break) {
            margin: 15px 0;
        }
        
        // Force Link Color
        a,
        button,
        & {
			color: $primary;
			text-decoration: none;
		} 

		// Hover Color
        a:hover,
        button:hover,
        &:hover {
            color: $dark;
        }
	}
    
    .nav-head {
        a#brand-logo {
            display: block;
            -webkit-mask-image: url("../resources/images/logo.svg");
            mask-image: url("../resources/images/logo.svg");
            mask-repeat: no-repeat;
            background-color: $primary;
            background-size: contain;
            width: 200px;
            height: 200px;
            margin: 20px auto 0;
            
            &:hover {
                background-color: $dark;
            }
            @media screen and (max-width: $break-small) {
                width: 100px;
                height: 100px;
                margin: 0;
                display: inline-block;
                vertical-align: middle;
            }
        }
        
        button#menu {
            display: none;
            @media screen and (max-width: $break-small) {
                display: inline-block;
                position: absolute;
                left: 10px;
                top: 36px;
                svg {
                    font-size: 60px;
                    fill: #c24620;
                }
            }
        }

        button#top-mob {
            display: none;
            @media screen and (max-width: $break-small) {
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 36px;
                svg {
                    font-size: 60px;
                    fill: #c24620;
                }
            }
        }
    }
    
    .nav-content {
        padding: 0 20px;

        @media screen and (max-width: $break-small) {
            transition: height 0.3s ease-in-out;
            overflow: hidden;
            height: 0px;
        }

        .links {
            li {
                display: block;
                a.active {
                    border-bottom: 2px solid $primary;
                    &:hover {
                        border-color: $dark;
                    }
                }
            }
        }
        
        #social-media {
            a {
                display: inline-block;
                width: 24px;
                height: 24px;
                margin: auto 20px;
                &:hover {
                    color: $dark;
                }
            }
        }
        
        .events {
            position: relative;
            margin-bottom: calc(20px + 1em);

            .event-list {
                a.event {
                    display: block;
                    .event-name {
                        display: inline-block;
                        width: 50%;
                        text-align: right;
                        padding-right: 10px;
                    }
                    .event-date {
                        display: inline-block;
                        width: 50%;
                        text-align: left;
                        vertical-align: top;
                        padding-left: 10px;
                    }
                }
            }
        }
        #top {
            @media screen and (max-width: $break-small) {
                display: none;
            }
        }
        .break {
            width: 40%;
            max-width: 150px;
            margin: auto;
            border-bottom: 1px solid $primary;
        }

        //Expand Events
        .events {
            transition: height 0.3s ease-in-out;
            overflow: hidden;
        }
        .collapsable {
            overflow: hidden;
            transition: height 0.3s ease-in-out;
            height: auto;
        }
        .collapsed {
            height: 0;
        }
    
        .break {
            position: relative;
            #more {
                position: absolute;
                bottom: 20px;
                display: block;
                width: 100%;
                color: $primary;
                text-decoration: none;
                // Hover Color
                &:hover {
                    color: $dark;
                }
            }
        }
    }
}