.navigation {
	text-align: center;
	color: $primary;
	font-family: 'Courier New', Courier, monospace;

	.link,
	.event,
	.social-media,
	.top {
		margin: 30px 0;

		// Force Link Color
		a, & {
			color: $primary;
		}

		// Hover Color
		a:hover,
		&:hover {
			color: $dark;
		}
	}

	.break {
		width: 40%;
		margin: auto;
		border-bottom: 1px solid $primary;
	}

	.brand-logo {
		display: flex;
		flex-direction: column;
		font-family: 'Augusta', Times, serif;
		font-size: 3.5rem;
	}

	.links {
		li {
			display: block;
		}
	}

	.social-media {
		a {
			display: inline-block;
			width: 20px;
			height: 20px;
			overflow:hidden;
			background-size:contain
		}

		.facebook {
			background-image: url("/resources/icons/facebook.svg")
		}
		.instagram {
			background-image: url("/resources/icons/instagram.svg")
		}
		.bandcamp {
			background-image: url("/resources/icons/bandcamp.svg")
		}
	}

	.event-list {
		.event {
			cursor: pointer;

			.event-name {
				display: inline-block;
				width: 50%;
				text-align: right;
				padding-right: 5px;
			}
			.event-date {
				display: inline-block;
				width: 50%;
				text-align: left;
				padding-left: 5px;
			}
		}
	}
}