.news-feed {
	//Centre align article grid
	text-align: center;

	//Set square size
	.article,
	.card-panel,
	img {
		// Desktop
		@media screen and (min-width: $break-med), screen and (orientation: landscape) {
			width: 250px;
			height: 250px;
		}
		// Mobile
    @media screen and (max-device-width: $break-med) and (orientation: portrait) {
			width: 250px;
			height: 250px;
		}
	}

	//Animations
	&>img {
		margin: 10px;
	}
	
	.article {
		// Container
		position: relative;
		cursor: pointer;
		display: inline-block;
		margin: 10px;
		overflow: hidden;
		background: $dark;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			// Desktop
            @media screen and (min-width: $break-med), screen and (orientation: landscape) {
				width: 250px;
				height: 250px;
			}
			// Mobile
    	@media screen and (max-device-width: $break-med) and (orientation: portrait) {
				width: 250px;
				height: 250px;
			}
		}

		.card-panel {
			transition: all 0.5s ease;
			
			z-index: 20;
			@media screen and (max-width: $break-small) {
				z-index: 5;
			}

			// Opened Article
			&>div {
				display: none;
				overflow: auto;
				position: relative;
				height: 100%;
				background: white;
				border: 1px solid $primary;
				text-align: left;

				//Remove scrollbar
				-ms-overflow-style: none;  // IE 10+
				overflow: -moz-scrollbars-none;  // Firefox
				&::-webkit-scrollbar { 
						display: none;  // Safari and Chrome
				}
				
				// Mobile
    		@media screen and (max-device-width: $break-med) and (orientation: portrait) {
					padding: 20px;
				}
				//Med
				@media screen and (min-width: $break-small) {
					padding: 20px 10%;
				}
				//Large
				@media screen and (min-width: $break-med) {
					padding: 20px 20%;
				}
				
				.article-header {
					h1 {
						text-align: center;
						text-decoration: none;
					}

					#close {
						cursor: pointer;
						color: $dark;
						position: absolute;
						text-align: center;
						top: 0;
						right: 0;
						width: 50px;
						height: 50px;
						svg {
							font-size: 40px;
						}
					}
				}
				
				.article-date {
					font-style: italic;
					text-align: center;
				}

				img {
					width: 100%;
				}
				
			}
		}
	
		.article-title {
			transition: top 0.2s ease-in-out;
			position: relative;
			height: 100px;
			top: 0;
			background: rgba(0, 0, 0, 0.5);
	
			h3 {
				color: white;
				margin: auto;
			}
	
			&.show {
				top: -100px;
			}
	
			@media screen and (max-width: $break-small) {
				top: -100px;
				background: none;
			}
		}

		&.open {
			cursor: default;

			.article-title {
				display: none;
			}
			.card-panel {
				position: fixed;
				padding: 20px;
				top: 0 !important;
				height: 100% !important;
				left: 25% !important;
				width: 75% !important;
				@media screen and (max-width: $break-med) {
					left: 375px !important; // Min width so it doesn't get too crushed
					width: calc(100% - 375px) !important;
				}

				//Full size on landscape mobile
				@media screen and (max-height: $vert-break-small) {
					@media screen and (max-width: $break-med) {
						margin: auto 0;
						left: 0 !important;
						width: 100% !important;
						top: 0 !important;
						height: 100% !important;
					}
				}
				@media screen and (max-width: $break-small) {
					margin: auto 0;
					padding: 5px 20px;
					left: 0 !important;
					width: 100% !important;
					top: 139px !important;
					height: calc(100% - 140px) !important;
				}
			}

		}
	}
}
