$orange: #c24620;
$white: #f6f3ea;
$grey: #666666;

$primary: $orange;
$light: $white;
$dark: $grey;

$break-small: 900px;
$vert-break: 660px;

$font-heading: 'Augusta', Times, serif;
$font-content: 'Courier New', Courier, monospace;
