$orange: #c24620;
$white: #f6f3ea;
$grey: #666666;

$primary: $orange;
$light: $white;
$dark: $grey;

$break-small: 480px;
$break-med: 1000px;
$vert-break-med: 775px;
$vert-break-small: 625px;
$vert-break-tiny: 360px;

$font-heading: 'Augusta', Times, serif;
$font-content: 'Courier New', Courier, monospace;
